$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-stack-main;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  color: $primary-color-dark;
}

.container {
  max-width: 1188px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  margin-bottom: 35px;
}

.header {
  padding-top: 10px;

  &__title {
    font-size: 30px;
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: end;

    &-link {
      line-height: 18px;
    }

    &-list {
      display: flex;
      gap: 30px;
    }
  }
}

.sites {
  margin-top: 100px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 20px 0;

    &-item {
      display: flex;
      gap: 200px;
    }
  }

  &__item {
    &-box:nth-child(2) {
      display: flex;
      align-items: center;
    }

    &-image {
      height: 570px;
      width: 430px;
      border-radius: 30px;

      transform: scale(1);
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      &#pioner,
      &#oculus {
        border: 2px solid #1a1919;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
