.admin-panel__sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  background-color: #dbdbdb;
}
.admin-panel__sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  color: #1a1919;
}
.admin-panel__sidebar__item {
  cursor: pointer;
  border-bottom: 1px solid #1a1919;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.admin-panel__sidebar__item.active {
  padding: 10px;
  background: #1a1919;
  color: #dbdbdb;
  border-radius: 25px;
}
.admin-panel__table {
  padding-left: 200px;
  margin-top: 50px;
  display: none;
  grid-template-columns: repeat(7, 1fr);
}
.admin-panel__table__item {
  word-break: break-all;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #1a1919;
  height: 200px;
  border: 1px solid #1a1919;
}
.admin-panel__table__name-row {
  height: 150px;
  font-size: 20px;
  font-weight: bold;
}
.admin-panel__table__row {
  overflow: hidden;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #dbdbdb;
}
.admin-panel__table.show {
  display: grid;
}
.admin-panel__game-table {
  grid-column: 1/9;
  grid-template-columns: repeat(8, 1fr);
}
.admin-panel__form {
  width: 300px;
  height: 550px;
  margin: 125px auto;
  color: #1a1919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.admin-panel__form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  position: relative;
}
.admin-panel__form__label {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
}
.admin-panel__form__input {
  width: 300px;
  min-height: 42px;
  font-size: 15px;
  line-height: 1.4em;
  font-family: montserrat, sans-serif;
  color: #1a1919;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.admin-panel__form__input::-webkit-input-placeholder {
  color: #1a1919;
  opacity: 0.5;
}
.admin-panel__form__input::-moz-placeholder {
  color: #1a1919;
  opacity: 0.5;
}
.admin-panel__form__input:-ms-input-placeholder {
  color: #1a1919;
  opacity: 0.5;
}
.admin-panel__form__input::-ms-input-placeholder {
  color: #1a1919;
  opacity: 0.5;
}
.admin-panel__form__input::placeholder {
  color: #1a1919;
  opacity: 0.5;
}
.admin-panel__form__input:focus {
  outline: none;
  border-color: black;
}
.admin-panel__form__save, .admin-panel__form__cancel {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  padding: 12px 5px;
  background-color: #0d6efd;
  max-width: 150px;
  border: 1px solid #0d6efd;
  border-radius: 10px;
  color: #dbdbdb;
  font-size: 18px;
  font-family: montserrat, sans-serif;
}
.admin-panel__form__cancel {
  background-color: gray;
  color: #dbdbdb;
  border: none;
  margin-left: 55px;
}

.admin-panel__edit-box {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 30%;
  width: 1000px;
  height: 800px;
  background-color: #dbdbdb;
}
.admin-panel__edit-box.show {
  display: block;
}
.admin-panel__add-button, .admin-panel__remove-button {
  position: relative;
}
.admin-panel__button-line {
  content: "";
  cursor: pointer;
  position: absolute;
  display: block;
  width: 40px;
  height: 7px;
  background-color: #1a1919;
}
.admin-panel__button-line:nth-child(2) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home {
  margin-top: 200px;
  height: 28px;
}