$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

.games-list {
  &__inner {
    margin-top: 150px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__image {
    border-radius: 30px;
  }
}

@media (max-width: 800px) {
  .games-list {
    &__inner {
      display: flex;
      flex-direction: column;
    }
  }
}
