$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

body {
  overflow-x: hidden;
}

.menu {
  &__inner {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__type {
    &__list {
      position: absolute;
      top: 20%;
      right: 10%;

      display: flex;
      gap: 40px;

      color: $primary-color-dark;

      padding: 10px;

      border-radius: 15px;
      background-color: $primary-color-light;
    }

    &__item {
      cursor: pointer;
      position: relative;
      z-index: 1;

      width: 70px;
      height: 70px;
    }

    &__item:nth-child(1)::after {
      content: "Кофе";

      position: absolute;
      left: 10px;
      top: 90px;
      font-size: 16px;
      color: $primary-color-light;
    }

    &__item:nth-child(2)::after {
      content: "Десерт";

      position: absolute;
      right: 10px;
      top: 90px;
      font-size: 16px;
      color: $primary-color-light;
    }

    &__box {
      width: 75px;
      height: 80px;

      position: absolute;
      top: 5px;

      background-color: white;
      border-radius: 15px;

      transition: transform 0.3s ease-in-out;
    }
  }

  &__content {
    position: relative;
    margin-top: 150px;
  }

  &__shelf {
    position: relative;

    width: 1700px;
    height: 750px;

    padding-top: 150px;
    padding-left: 18%;

    display: flex;
    flex-direction: column;
    gap: 80px;

    background-image: url("..//images/shelf.png");

    transition: opacity 0.7s ease-in-out;

    &__photos {
      display: flex;
      gap: 40px;
    }

    &__shadow {
      // width: 218px;
      // height: 370px;

      position: relative;
      &::after {
        position: absolute;
        bottom: 0%;
        left: 12%;

        content: "";
        display: block;

        width: 160px;
        height: 50px;

        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
      }

      // Cup shadow
      &.shelf__cup:nth-child(1)::after {
        bottom: 5%;
      }

      &.shelf__cup:nth-child(2)::after {
        bottom: 5%;
      }
      &.shelf__cup:nth-child(3)::after {
        bottom: 0%;
      }
      &.shelf__cup:nth-child(4)::after {
        bottom: 10%;
      }
    }

    &__image {
      position: relative;
      z-index: 1;
      // width: 218px;
      // height: 339px;
    }

    &__prices {
      display: flex;
      gap: 40px;

      &-box {
        padding-left: 15px;
        width: 218px;
        height: 100px;

        text-align: center;
      }

      &-title {
        font-size: 30px;
      }

      &-text {
        margin-top: 20px;
        font-size: 14px;
      }

      &-price {
        margin-top: 30px;

        font-size: 35px;
        font-weight: bold;
        font-family: $font-stack-add;
        color: rgb(173 108 83);
      }
    }

    // Для чашек свои классы
    &__cup {
      padding-top: 175px;
    }
  }

  &__first-section,
  &__second-section {
    opacity: 1;
    transform: translateX(0%);

    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  }

  &__first-section__hide {
    transform: translateX(-150%);
  }

  &__second-section__hide {
    transform: translateX(150%);
  }
}

.hide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.shelfRemove {
  display: none;
}

@media (max-width: 1500px) {
  .menu {
    &__shelf {
      width: 1200px;
      padding-top: 55px;
      padding-left: 10%;

      background-position-x: center;
      background-size: 104%;
      background-repeat: no-repeat;

      &__cup {
        padding-top: 65px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .menu {
    &__shelf {
      width: 900px;
      height: auto;
      padding-left: 0;
      padding-top: 20px;

      gap: 10px;

      &__photos,
      &__prices {
        transform: scale(0.8);
      }

      &__cup {
        padding-top: 34px;
      }
    }
  }
}

@media (max-width: 800px) {
  .menu {
    &__shelf {
      width: 700px;

      &__shadow::after {
        width: 130px;
      }

      &__cup {
        padding-top: 34px;
      }
    }
  }
}

@media (max-width: 650px) {
  .menu {
    &__type {
      &__item {
        width: 60px;
        height: 60px;
      }

      &__box {
        height: 70px;
        width: 70px;
      }

      &__list {
        top: 24%;
        right: auto;
      }
    }

    &__shelf {
      width: 550px;
      padding-top: 25px;

      &__prices {
        gap: 20px;

        &-title {
          font-size: 22px;
        }

        &-price {
          font-size: 25px;
        }
      }

      &__shadow::after {
        width: 90px;
      }

      &__cup {
        padding-top: 34px;
      }
    }
  }
}

@media (max-width: 500px) {
  .menu {
    &__shelf {
      width: 390px;
      padding-top: 30px;

      &__shadow::after {
        width: 50px;
        height: 25px;
      }

      &__prices {
        gap: 5px;

        &-box {
          padding-left: 0px;
        }

        &-title {
          font-size: 18px;
        }

        &-price {
          margin-top: 5px;
          font-size: 18px;
        }
      }

      &__cup {
        padding-top: 34px;
      }
    }
  }
}
