$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

.plan {
  &__box {
    margin-top: 30px;
    position: relative;

    overflow: hidden;

    width: 1260px;
  }

  &__bg-image {
    user-select: none;
  }

  &__inner {
    padding: 0 20px;
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 50px;

    width: 1260px;
  }

  &__message-box {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    padding: 7px;
    opacity: 0;

    background-color: black;
    border-radius: 15px;
    color: $primary-color-light;

    transition: opacity 0.3s ease-in-out;

    &__active {
      opacity: 1;
    }
  }

  &__table {
    position: absolute;

    &#t1 {
      bottom: 4%;
      left: 19.5%;
    }

    &#t2 {
      bottom: 4%;
      left: 36.5%;
    }

    &#t3 {
      bottom: 4%;
      left: 52.5%;
    }

    &#t4 {
      transform: rotate(90deg);

      bottom: 20%;
      left: 49%;
    }

    &#t5 {
      transform: rotate(90deg);

      bottom: 21%;
      left: 76.5%;
    }

    &#t6 {
      transform: rotate(90deg);

      bottom: 21%;
      left: 87.5%;
    }

    &#t7 {
      bottom: 60%;
      left: 47%;
    }

    &#t8 {
      bottom: 83%;
      left: 47%;
    }

    &#t9 {
      bottom: 46%;
      left: 9.5%;
    }

    &#t10 {
      transform: rotate(90deg);
      bottom: 77%;
      left: 6%;
    }

    &#t11 {
      bottom: 64%;
      left: 30%;
    }

    &#t12 {
      bottom: 91%;
      left: 30%;
    }
  }
}

.busy {
  fill: red;
}

.book {
  fill: green;
}

.form__label.text__title,
.form__label.checkbox__title {
  text-align: center;
  grid-column: 1/3;
  font-size: 30px;
}

.feedback {
  &__inner {
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0 95px;

    display: flex;
    position: relative;
  }

  &__subtitle {
    position: absolute;
    left: 80px;
    bottom: 105%;
  }
}

// Form style

.feedback__form {
  margin: 0 auto;
  margin-bottom: 70px;

  font-family: $font-stack-add;

  display: grid;
  grid-template-columns: repeat(2, 390px);
  gap: 40px;
}

.form {
  &__title {
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 50px;

    grid-column: 1/3;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    margin-bottom: 9px;
  }

  &__input {
    min-height: 42px;

    font-size: 15px;
    line-height: 1.4em;
    font-family: $font-stack-add;
    color: $primary-color-dark;

    border: 1px solid $primary-color-light;
    border-radius: 10px;

    transition: box-shadow 0.3s ease-in-out;
    &::placeholder {
      color: $primary-color-dark;
    }

    &:focus {
      outline: none;
    }
  }

  &__submit {
    cursor: pointer;

    padding: 10px 15px;
    background-color: #0d6efd;
    max-width: 150px;

    border: 1px solid #0d6efd;
    border-radius: 10px;

    color: #dbdbdb;
    font-size: 18px;
    font-family: $font-stack-add;
  }

  &__date {
    padding: 0 10px;
  }
}

@media (max-width: 1300px) {
  .plan {
    &__inner {
      overflow: auto;

      width: 1000px;
    }
  }
}

@media (max-width: 1100px) {
  .plan {
    &__inner {
      width: 800px;
    }
  }
}

@media (max-width: 1000px) {
  .feedback__form {
    grid-template-columns: repeat(2, 1fr);
    width: 720px;
  }
}

@media (max-width: 900px) {
  .plan {
    &__inner {
      width: 600px;
    }
  }
}

@media (max-width: 800px) {
  .feedback__form {
    display: flex;
    flex-direction: column;
  }

  .form__title {
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .plan {
    &__inner {
      width: 500px;
    }
  }
}

@media (max-width: 600px) {
  .plan {
    &__inner {
      width: 400px;
    }
  }

  .feedback__inner {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .plan {
    &__title {
      font-size: 30px;
    }

    &__inner {
      width: 300px;
    }

    &__message-box {
      font-size: 14px;
    }
  }
}

@media (max-width: 350px) {
  .plan {
    &__inner {
      width: 280px;
    }
  }
}
