html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  color: #dbdbdb;
  background-color: #1a1919;
}

.scroll-lock {
  overflow: hidden;
  padding-right: 17px;
  top: 0px;
}

.container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  margin-top: 100px;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5em;
  color: #1a1919;
  background-color: #dbdbdb;
  border: 1px solid #1a1919;
  border-radius: 25px;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.button:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.title {
  text-align: center;
  font-size: 36px;
}

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
}
.header__inner {
  padding: 10px 60px;
  background-color: rgba(26, 25, 25, 0.7);
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 120px;
  height: 70px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.header__list-item {
  line-height: 25px;
}
.header__menu-btn {
  cursor: pointer;
  display: none;
  width: 50px;
  height: 40px;
  color: #dbdbdb;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__menu-line {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  margin: 0 auto;
  width: 40px;
  height: 3px;
  background-color: currentColor;
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform;
}
.header__menu-line:nth-child(2) {
  top: 15px;
}
.header__menu-line:nth-child(3) {
  top: 25px;
}
.header__link::after {
  display: block;
  content: "";
  height: 2px;
  width: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4499d9), color-stop(#4499d9), to(#7367be));
  background-image: linear-gradient(to right, #4499d9, #4499d9, #7367be);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  will-change: width;
}
.header__link:hover::after {
  width: 100%;
}

.welcome__inner {
  padding-top: 150px;
  padding-bottom: 25px;
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome__content {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__text {
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  line-height: 1.3;
  max-width: 600px;
}
.welcome__title {
  opacity: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  font-family: montserrat, sans-serif;
  text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
  text-align: center;
  -webkit-animation: titleShow 1.5s ease-in-out 3s 1 forwards;
          animation: titleShow 1.5s ease-in-out 3s 1 forwards;
}
.welcome__image {
  position: absolute;
}
.welcome__image:nth-child(1) {
  top: 20%;
  left: 10%;
  -webkit-transform: rotate(340deg);
      -ms-transform: rotate(340deg);
          transform: rotate(340deg);
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-animation: donut 3.4s ease-in-out 0s 1 forwards;
          animation: donut 3.4s ease-in-out 0s 1 forwards;
}
.welcome__image:nth-child(2) {
  top: 25%;
  right: 10%;
  -webkit-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
          transform: rotate(350deg);
  -webkit-animation: coffee 1.3s ease-in-out 0s 1 forwards;
          animation: coffee 1.3s ease-in-out 0s 1 forwards;
}
.welcome__image:nth-child(3) {
  top: 60%;
  left: 15%;
  -webkit-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
          transform: rotate(350deg);
  -webkit-animation: bone-2 3s ease-in-out 0s 1 forwards;
          animation: bone-2 3s ease-in-out 0s 1 forwards;
}
.welcome__image:nth-child(4) {
  top: 50%;
  left: 10%;
  -webkit-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
          transform: rotate(350deg);
  -webkit-animation: bone-1 3s ease-in-out 0s 1 forwards;
          animation: bone-1 3s ease-in-out 0s 1 forwards;
}
.welcome__image:nth-child(5) {
  opacity: 0;
  z-index: -1;
  top: 15%;
  right: 3%;
  -webkit-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
          transform: rotate(350deg);
  -webkit-animation: grain 0.7s ease-in-out 3s 1 forwards;
          animation: grain 0.7s ease-in-out 3s 1 forwards;
}
.welcome__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@-webkit-keyframes donut {
  0% {
    -webkit-transform: translateX(-150%) rotate(0deg);
            transform: translateX(-150%) rotate(0deg);
  }
  40% {
    -webkit-transform: translateX(20%) rotate(390deg);
            transform: translateX(20%) rotate(390deg);
  }
  65% {
    -webkit-transform: translateX(-10%) rotate(340deg);
            transform: translateX(-10%) rotate(340deg);
  }
  85% {
    -webkit-transform: translateX(5%) rotate(370deg);
            transform: translateX(5%) rotate(370deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(360deg);
            transform: translateX(0%) rotate(360deg);
  }
}

@keyframes donut {
  0% {
    -webkit-transform: translateX(-150%) rotate(0deg);
            transform: translateX(-150%) rotate(0deg);
  }
  40% {
    -webkit-transform: translateX(20%) rotate(390deg);
            transform: translateX(20%) rotate(390deg);
  }
  65% {
    -webkit-transform: translateX(-10%) rotate(340deg);
            transform: translateX(-10%) rotate(340deg);
  }
  85% {
    -webkit-transform: translateX(5%) rotate(370deg);
            transform: translateX(5%) rotate(370deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(360deg);
            transform: translateX(0%) rotate(360deg);
  }
}
@-webkit-keyframes coffee {
  0% {
    -webkit-transform: translateY(-200%) rotate(0deg);
            transform: translateY(-200%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0%) rotate(350deg);
            transform: translateY(0%) rotate(350deg);
  }
}
@keyframes coffee {
  0% {
    -webkit-transform: translateY(-200%) rotate(0deg);
            transform: translateY(-200%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0%) rotate(350deg);
            transform: translateY(0%) rotate(350deg);
  }
}
@-webkit-keyframes grain {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes grain {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bone-1 {
  0% {
    -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg);
            transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg);
            transform: translateY(0%) translateX(-70%) rotate(400deg);
  }
  60% {
    -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg);
            transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }
  70% {
    -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg);
            transform: translateY(0%) translateX(-30%) rotate(620deg);
  }
  85% {
    -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg);
            transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(0%) rotate(720deg);
            transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}
@keyframes bone-1 {
  0% {
    -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg);
            transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg);
            transform: translateY(0%) translateX(-70%) rotate(400deg);
  }
  60% {
    -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg);
            transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }
  70% {
    -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg);
            transform: translateY(0%) translateX(-30%) rotate(620deg);
  }
  85% {
    -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg);
            transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(0%) rotate(720deg);
            transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}
@-webkit-keyframes bone-2 {
  0% {
    -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg);
            transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg);
            transform: translateY(0%) translateX(-70%) rotate(400deg);
  }
  60% {
    -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg);
            transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }
  70% {
    -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg);
            transform: translateY(0%) translateX(-30%) rotate(620deg);
  }
  85% {
    -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg);
            transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(0%) rotate(720deg);
            transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}
@keyframes bone-2 {
  0% {
    -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg);
            transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg);
            transform: translateY(0%) translateX(-70%) rotate(400deg);
  }
  60% {
    -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg);
            transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }
  70% {
    -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg);
            transform: translateY(0%) translateX(-30%) rotate(620deg);
  }
  85% {
    -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg);
            transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(0%) rotate(720deg);
            transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}
@-webkit-keyframes titleShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider__inner {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
  width: 1290px;
  height: 300px;
}
.slider__list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  will-change: transform;
}
.slider__item {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  -webkit-transition: -webkit-filter 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.slider__link {
  content: "";
  width: 400px;
  height: 300px;
}
.slider__button {
  width: 50px;
}

.stocks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}
.stocks__subtitles {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stocks__content__inner {
  margin-top: 75px;
}
.stocks__list {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stocks__box__item {
  height: 300px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 110px 15px 15px;
  position: relative;
  overflow: hidden;
  background-color: #dbdbdb;
}
.stocks__box__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 7px;
  height: 300px;
  background-color: rgb(247, 99, 69);
}
.stocks__box__title {
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.stocks__box__subtitle {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}
.stocks__box__date {
  color: grey;
  font-size: 12px;
}
.stocks__box__price {
  display: inline-block;
  padding: 20px 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-family: montserrat, sans-serif;
  background-color: rgb(247, 99, 69);
  border-radius: 50%;
}
.stocks__box__photo {
  position: absolute;
  right: 10px;
  top: 90px;
}
.stocks__button {
  width: 200px;
}

.games__inner {
  margin: 100px 0;
}
.games__subtitles {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper {
  width: 1260px;
  height: 300px;
}

.games__slider__button.swiper-button-prev,
.games__slider__button.swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: #dbdbdb;
  border-radius: 50%;
  color: #1a1919;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.games__slider__button.swiper-button-prev:hover,
.games__slider__button.swiper-button-next:hover {
  background-color: white;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 40px;
  }
  .welcome__inner {
    height: auto;
  }
  .welcome__text {
    padding-top: 170px;
  }
}
@media (max-width: 1367px) {
  .swiper {
    width: 830px;
  }
  .games__inner {
    max-width: 830px;
    margin: 100px auto;
  }
}
@media (max-width: 1250px) {
  .welcome__text {
    padding-top: 230px;
  }
  .welcome__image:nth-child(2) {
    top: 18%;
  }
  .welcome__image:nth-child(5) {
    top: 10%;
  }
  .welcome__image:nth-child(4) {
    top: 45%;
  }
  .welcome__image:nth-child(3) {
    top: 48%;
    left: 20%;
  }
  @-webkit-keyframes donut {
    0% {
      -webkit-transform: translateX(-150%) rotate(0deg) scale(0.8);
              transform: translateX(-150%) rotate(0deg) scale(0.8);
    }
    40% {
      -webkit-transform: translateX(20%) rotate(390deg) scale(0.8);
              transform: translateX(20%) rotate(390deg) scale(0.8);
    }
    65% {
      -webkit-transform: translateX(-10%) rotate(340deg) scale(0.8);
              transform: translateX(-10%) rotate(340deg) scale(0.8);
    }
    85% {
      -webkit-transform: translateX(5%) rotate(370deg) scale(0.8);
              transform: translateX(5%) rotate(370deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateX(0%) rotate(360deg) scale(0.8);
              transform: translateX(0%) rotate(360deg) scale(0.8);
    }
  }
  @keyframes donut {
    0% {
      -webkit-transform: translateX(-150%) rotate(0deg) scale(0.8);
              transform: translateX(-150%) rotate(0deg) scale(0.8);
    }
    40% {
      -webkit-transform: translateX(20%) rotate(390deg) scale(0.8);
              transform: translateX(20%) rotate(390deg) scale(0.8);
    }
    65% {
      -webkit-transform: translateX(-10%) rotate(340deg) scale(0.8);
              transform: translateX(-10%) rotate(340deg) scale(0.8);
    }
    85% {
      -webkit-transform: translateX(5%) rotate(370deg) scale(0.8);
              transform: translateX(5%) rotate(370deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateX(0%) rotate(360deg) scale(0.8);
              transform: translateX(0%) rotate(360deg) scale(0.8);
    }
  }
  @-webkit-keyframes coffee {
    0% {
      -webkit-transform: translateY(-200%) rotate(0deg) scale(0.8);
              transform: translateY(-200%) rotate(0deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateY(0%) rotate(350deg) scale(0.8);
              transform: translateY(0%) rotate(350deg) scale(0.8);
    }
  }
  @keyframes coffee {
    0% {
      -webkit-transform: translateY(-200%) rotate(0deg) scale(0.8);
              transform: translateY(-200%) rotate(0deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateY(0%) rotate(350deg) scale(0.8);
              transform: translateY(0%) rotate(350deg) scale(0.8);
    }
  }
  @-webkit-keyframes grain {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3) scale(0.8);
              transform: scale3d(0.3, 0.3, 0.3) scale(0.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1) scale(0.8);
              transform: scale3d(1, 1, 1) scale(0.8);
    }
  }
  @keyframes grain {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3) scale(0.8);
              transform: scale3d(0.3, 0.3, 0.3) scale(0.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1) scale(0.8);
              transform: scale3d(1, 1, 1) scale(0.8);
    }
  }
  @-webkit-keyframes bone-1 {
    0% {
      -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
              transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
    }
    40% {
      -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
              transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
    }
    60% {
      -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
              transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
    }
    70% {
      -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
              transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
    }
    85% {
      -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
              transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
              transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
    }
  }
  @keyframes bone-1 {
    0% {
      -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
              transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
    }
    40% {
      -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
              transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
    }
    60% {
      -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
              transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
    }
    70% {
      -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
              transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
    }
    85% {
      -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
              transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
              transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
    }
  }
  @-webkit-keyframes bone-2 {
    0% {
      -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
              transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
    }
    40% {
      -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
              transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
    }
    60% {
      -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
              transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
    }
    70% {
      -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
              transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
    }
    85% {
      -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
              transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
              transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
    }
  }
  @keyframes bone-2 {
    0% {
      -webkit-transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
              transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
    }
    40% {
      -webkit-transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
              transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
    }
    60% {
      -webkit-transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
              transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
    }
    70% {
      -webkit-transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
              transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
    }
    85% {
      -webkit-transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
              transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
    }
    100% {
      -webkit-transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
              transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
    }
  }
}
@media (max-width: 1000px) {
  .scroll-lock {
    padding-right: 0px;
  }
  .welcome__text {
    padding-top: 270px;
  }
  .welcome__image:nth-child(1) {
    top: 27%;
  }
  .welcome__image:nth-child(2) {
    top: 28%;
  }
  .welcome__image:nth-child(3) {
    top: 55%;
  }
  .welcome__image:nth-child(4) {
    top: 52%;
  }
  .welcome__image:nth-child(5) {
    top: 20%;
  }
  .stocks__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stocks__box__item {
    margin: 0 auto;
  }
  .stocks__box__item:nth-child(3) {
    grid-column: 1/3;
  }
}
@media (max-width: 900px) {
  .swiper {
    width: 630px;
  }
  .games__inner {
    max-width: none;
  }
}
@media (max-width: 800px) {
  .header__navigation {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    padding: 130px 30px 130px 110px;
    color: #1a1919;
    font-size: 30px;
    line-height: 1.33;
    background-color: rgba(255, 255, 255, 0.95);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: border-radius 0.3s cubic-bezier(0.7, 0, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.7, 0, 0.2, 1);
    transition: border-radius 0.3s cubic-bezier(0.7, 0, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.7, 0, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.7, 0, 0.2, 1), border-radius 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.7, 0, 0.2, 1), border-radius 0.3s cubic-bezier(0.7, 0, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.7, 0, 0.2, 1);
    will-change: transform;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    gap: 30px;
    margin: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.7, 0, 0.2, 1);
    transition: -webkit-transform 1.5s cubic-bezier(0.7, 0, 0.2, 1);
    transition: transform 1.5s cubic-bezier(0.7, 0, 0.2, 1);
    transition: transform 1.5s cubic-bezier(0.7, 0, 0.2, 1), -webkit-transform 1.5s cubic-bezier(0.7, 0, 0.2, 1);
    will-change: transform;
  }
  .header__list-item {
    line-height: 40px;
  }
  .header__menu-btn {
    display: block;
    z-index: 1;
  }
  .header .active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    border-radius: 0;
    -webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .header .menu__line-1 {
    color: #1a1919;
    -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .header .menu__line-2 {
    color: #1a1919;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header .menu__line-3 {
    color: #1a1919;
    -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  .header .menu__list {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .header .menu__list-button {
    -webkit-transform: translateX(-70px);
        -ms-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  .welcome__title {
    -webkit-animation: titleShow 1.5s ease-in-out 0s 1 forwards;
            animation: titleShow 1.5s ease-in-out 0s 1 forwards;
  }
  .welcome__image:nth-child(1) {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation: none;
            animation: none;
  }
  .welcome__image:nth-child(2) {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-animation: none;
            animation: none;
  }
  .welcome__image:nth-child(3) {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-animation: none;
            animation: none;
  }
  .welcome__image:nth-child(4) {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-animation: none;
            animation: none;
  }
  .welcome__image:nth-child(5) {
    opacity: 1;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 750px) {
  .stocks__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button {
    pointer-events: none;
  }
  .games__slider__button.swiper-button-prev,
  .games__slider__button.swiper-button-next {
    pointer-events: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
  }
  .games__slider__button.swiper-button-prev::after,
  .games__slider__button.swiper-button-next::after {
    font-size: 50px;
    color: black;
  }
  .swiper {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .header__navigation {
    width: 100%;
  }
  .welcome__image:nth-child(2) {
    left: 42%;
  }
  .welcome__image:nth-child(5) {
    left: 35%;
  }
  .welcome__text {
    font-size: 24px;
  }
  .stocks__button {
    margin-top: 60px;
  }
  .games__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
  .welcome__inner {
    padding: 150px 40px 0 40px;
  }
  .welcome__image:nth-child(1) {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    left: 0;
  }
  .welcome__image:nth-child(2) {
    left: 35%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .welcome__image:nth-child(3) {
    top: 50%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .welcome__image:nth-child(4) {
    top: 46%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .welcome__image:nth-child(5) {
    left: 25%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .welcome__text {
    font-size: 20px;
  }
  .stocks__subtitle {
    font-size: 16px;
  }
  .games__subtitles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}
@media (max-width: 450px) {
  .swiper {
    width: 360px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0 10px;
  }
  .header__inner {
    padding: 10px 30px;
  }
  .welcome__image:nth-child(1) {
    left: -20%;
  }
  .welcome__image:nth-child(2) {
    left: 22%;
  }
  .welcome__image:nth-child(3) {
    left: 10%;
  }
  .welcome__image:nth-child(4) {
    left: -4%;
  }
  .welcome__image:nth-child(5) {
    left: 8%;
  }
  .stocks__subtitles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stocks__box__item {
    padding: 20px 90px 15px 15px;
  }
  .stocks__box__price {
    padding: 15px 5px;
  }
  .stocks__box__photo {
    width: 80px;
  }
  .swiper {
    width: 330px;
  }
}
@media (max-width: 385px) {
  .button {
    font-size: 17px;
  }
  .welcome__text {
    padding-top: 180px;
  }
}
@media (max-width: 350px) {
  .welcome__image:nth-child(1) {
    top: 30%;
  }
  .welcome__image:nth-child(2) {
    left: 22%;
  }
  .welcome__image:nth-child(3) {
    left: 10%;
  }
  .welcome__image:nth-child(4) {
    left: -4%;
  }
  .welcome__image:nth-child(5) {
    top: 25%;
  }
  .swiper {
    width: 300px;
  }
}