$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;

  font-family: $font-stack-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  color: $primary-color-light;
  background-color: $primary-color-dark;
}

.scroll-lock {
  overflow: hidden;

  padding-right: 17px;
  top: 0px;
}

.container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  cursor: pointer;

  margin-top: 100px;
  padding: 10px 15px;

  font-family: $font-stack-main;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5em;
  color: $primary-color-dark;
  background-color: $primary-color-light;

  border: 1px solid $primary-color-dark;
  border-radius: 25px;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  &:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
  }
}

.title {
  text-align: center;
  font-size: 36px;
}

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 70px;

  &__inner {
    padding: 10px 60px;
    background-color: rgba($color: $primary-color-dark, $alpha: 0.7);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 120px;
    height: 70px;
  }

  &__list {
    display: flex;
    gap: 80px;
  }

  &__list-item {
    line-height: 25px;
  }

  &__menu-btn {
    cursor: pointer;
    display: none;

    width: 50px;
    height: 40px;

    color: $primary-color-light;
    position: relative;

    transition: color 0.3s ease-in-out;
  }

  &__menu-line {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";

    transform: translateX(0);

    margin: 0 auto;

    width: 40px;
    height: 3px;

    background-color: currentColor;

    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

    will-change: transform;

    &:nth-child(2) {
      top: 15px;
    }

    &:nth-child(3) {
      top: 25px;
    }
  }

  &__link {
    &::after {
      display: block;
      content: "";

      height: 2px;
      width: 0px;
      background-image: linear-gradient(to right, #4499d9, #4499d9, #7367be);
      transition: all 0.3s ease-in-out;

      will-change: width;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.welcome {
  &__inner {
    padding-top: 150px;
    padding-bottom: 25px;
    height: 850px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    padding-top: 100px;
    text-align: center;

    font-size: 32px;
    line-height: 1.3;
    max-width: 600px;
  }

  &__title {
    opacity: 0;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-family: $font-stack-add;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px,
      rgba(254, 1, 1, 0.298039) -3px -3px 0px;

    text-align: center;

    animation: titleShow 1.5s ease-in-out 3s 1 forwards;
  }

  &__image {
    position: absolute;

    &:nth-child(1) {
      top: 20%;
      left: 10%;
      transform: rotate(340deg);
      filter: opacity(0.7);

      animation: donut 3.4s ease-in-out 0s 1 forwards;
    }

    &:nth-child(2) {
      top: 25%;
      right: 10%;
      transform: rotate(350deg);

      animation: coffee 1.3s ease-in-out 0s 1 forwards;
    }
    &:nth-child(3) {
      top: 60%;
      left: 15%;
      transform: rotate(350deg);

      animation: bone-2 3s ease-in-out 0s 1 forwards;
    }
    &:nth-child(4) {
      top: 50%;
      left: 10%;
      transform: rotate(350deg);

      animation: bone-1 3s ease-in-out 0s 1 forwards;
    }
    &:nth-child(5) {
      opacity: 0;
      z-index: -1;
      top: 15%;
      right: 3%;
      transform: rotate(350deg);

      animation: grain 0.7s ease-in-out 3s 1 forwards;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
  }
}

@keyframes donut {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }

  40% {
    transform: translateX(20%) rotate(390deg);
  }

  65% {
    transform: translateX(-10%) rotate(340deg);
  }

  85% {
    transform: translateX(5%) rotate(370deg);
  }

  100% {
    transform: translateX(0%) rotate(360deg);
  }
}

@keyframes coffee {
  0% {
    transform: translateY(-200%) rotate(0deg);
  }

  100% {
    transform: translateY(0%) rotate(350deg);
  }
}

@keyframes grain {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bone-1 {
  0% {
    transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }

  40% {
    transform: translateY(0%) translateX(-70%) rotate(400deg);
  }

  60% {
    transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }

  70% {
    transform: translateY(0%) translateX(-30%) rotate(620deg);
  }

  85% {
    transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }

  100% {
    transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}

@keyframes bone-2 {
  0% {
    transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }

  40% {
    transform: translateY(0%) translateX(-70%) rotate(400deg);
  }

  60% {
    transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }

  70% {
    transform: translateY(0%) translateX(-30%) rotate(620deg);
  }

  85% {
    transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }

  100% {
    transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider {
  &__inner {
    padding: 50px 0;

    overflow: hidden;
    position: relative;

    width: 1290px;
    height: 300px;
  }

  &__list {
    margin-top: 70px;

    display: flex;

    transition: transform 0.5s ease-in-out;

    will-change: transform;
  }

  &__item {
    width: 400px;
    height: 300px;

    border-radius: 30px;
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  &__link {
    content: "";
    width: 400px;
    height: 300px;
  }

  &__button {
    width: 50px;
  }
}

.stocks {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
  }

  &__subtitles {
    margin-top: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__content__inner {
    margin-top: 75px;
  }

  &__list {
    margin-top: 0;

    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__box {
    &__item {
      height: 300px;
      border-radius: 30px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 20px 110px 15px 15px;
      position: relative;

      overflow: hidden;
      background-color: rgba($color: $primary-color-light, $alpha: 1);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 7px;
        height: 300px;
        background-color: rgb(247, 99, 69);
      }
    }

    &__title {
      color: black;
      font-weight: 700;
      font-size: 20px;
    }

    &__subtitle {
      margin-top: 10px;
      font-size: 16px;
      color: black;
    }

    &__date {
      color: grey;
      font-size: 12px;
    }

    &__price {
      display: inline-block;
      padding: 20px 10px;

      position: absolute;
      top: 20px;
      right: 20px;

      color: white;
      font-size: 20px;
      font-weight: bolder;
      font-family: $font-stack-add;

      background-color: rgb(247, 99, 69);
      border-radius: 50%;
    }

    &__photo {
      position: absolute;
      right: 10px;
      top: 90px;
    }
  }

  &__button {
    width: 200px;
  }
}

.games {
  &__inner {
    margin: 100px 0;
  }

  &__subtitles {
    margin-top: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
}

.swiper {
  width: 1260px;
  height: 300px;
}

.games__slider__button.swiper-button-prev,
.games__slider__button.swiper-button-next {
  width: 60px;
  height: 60px;

  background-color: $primary-color-light;
  border-radius: 50%;

  color: $primary-color-dark;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: white;
  }
}

// Adaptive ------------
@media (max-width: 1400px) {
  .container {
    padding: 0 40px;
  }

  .welcome {
    &__inner {
      height: auto;
    }

    &__text {
      padding-top: 170px;
    }
  }
}

@media (max-width: 1367px) {
  .swiper {
    width: 830px;
  }

  .games {
    &__inner {
      max-width: 830px;
      margin: 100px auto;
    }
  }
}

@media (max-width: 1250px) {
  .welcome__text {
    padding-top: 230px;
  }

  .welcome__image {
    &:nth-child(2) {
      top: 18%;
    }

    &:nth-child(5) {
      top: 10%;
    }

    &:nth-child(4) {
      top: 45%;
    }

    &:nth-child(3) {
      top: 48%;
      left: 20%;
    }
  }

  @keyframes donut {
    0% {
      transform: translateX(-150%) rotate(0deg) scale(0.8);
    }

    40% {
      transform: translateX(20%) rotate(390deg) scale(0.8);
    }

    65% {
      transform: translateX(-10%) rotate(340deg) scale(0.8);
    }

    85% {
      transform: translateX(5%) rotate(370deg) scale(0.8);
    }

    100% {
      transform: translateX(0%) rotate(360deg) scale(0.8);
    }
  }

  @keyframes coffee {
    0% {
      transform: translateY(-200%) rotate(0deg) scale(0.8);
    }

    100% {
      transform: translateY(0%) rotate(350deg) scale(0.8);
    }
  }

  @keyframes grain {
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3) scale(0.8);
    }

    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1) scale(0.8);
    }
  }

  @keyframes bone-1 {
    0% {
      transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
    }

    40% {
      transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
    }

    60% {
      transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
    }

    70% {
      transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
    }

    85% {
      transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
    }

    100% {
      transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
    }
  }

  @keyframes bone-2 {
    0% {
      transform: translateY(-200%) translateX(-100%) rotate(0deg) scale(0.8);
    }

    40% {
      transform: translateY(0%) translateX(-70%) rotate(400deg) scale(0.8);
    }

    60% {
      transform: translateY(-70%) translateX(-50%) rotate(560deg) scale(0.8);
    }

    70% {
      transform: translateY(0%) translateX(-30%) rotate(620deg) scale(0.8);
    }

    85% {
      transform: translateY(-30%) translateX(-20%) rotate(650deg) scale(0.8);
    }

    100% {
      transform: translateY(0%) translateX(0%) rotate(720deg) scale(0.8);
    }
  }
}

@media (max-width: 1000px) {
  .scroll-lock {
    padding-right: 0px;
  }

  .welcome__text {
    padding-top: 270px;
  }

  .welcome__image {
    &:nth-child(1) {
      top: 27%;
    }

    &:nth-child(2) {
      top: 28%;
    }

    &:nth-child(3) {
      top: 55%;
    }

    &:nth-child(4) {
      top: 52%;
    }

    &:nth-child(5) {
      top: 20%;
    }
  }

  .stocks {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__box {
      &__item {
        margin: 0 auto;

        &:nth-child(3) {
          grid-column: 1/3;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .swiper {
    width: 630px;
  }

  .games {
    &__inner {
      max-width: none;
    }
  }
}

@media (max-width: 800px) {
  .header {
    &__navigation {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 40px;

      position: fixed;
      top: 0px;
      right: 0px;

      width: 50%;
      height: 100%;
      padding: 130px 30px 130px 110px;

      color: $primary-color-dark;
      font-size: 30px;
      line-height: 1.33;

      background-color: rgba(255, 255, 255, 0.95);
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;

      transform: translateX(100%);
      transition: transform 0.7s cubic-bezier(0.7, 0, 0.2, 1),
        border-radius 0.3s cubic-bezier(0.7, 0, 0.2, 1);

      will-change: transform;
    }

    &__list {
      flex-direction: column;
      text-align: left;
      gap: 30px;
      margin: 0;

      transform: translate(0);
      transition: transform 1.5s cubic-bezier(0.7, 0, 0.2, 1);
      will-change: transform;

      &-item {
        line-height: 40px;
      }
    }

    &__menu-btn {
      display: block;

      z-index: 1;
    }

    .active {
      transform: translateX(0);
      border-radius: 0;
      box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .menu {
      &__line-1 {
        color: $primary-color-dark;
        transform: translateY(10px) rotate(45deg);
      }

      &__line-2 {
        color: $primary-color-dark;
        transform: scale(0);
      }

      &__line-3 {
        color: $primary-color-dark;
        transform: translateY(-10px) rotate(-45deg);
      }

      &__list {
        transform: translateX(-40px);
      }

      &__list-button {
        transform: translateX(-70px);
      }
    }
  }

  .welcome {
    &__title {
      animation: titleShow 1.5s ease-in-out 2.5s 1 forwards;
    }

    &__image {
      &:nth-child(1) {
        opacity: 0;
        transform: scale(0.7);
        animation: titleShow 1.5s ease-in-out 0s 1 forwards;
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0.6);
        animation: titleShow 1.5s ease-in-out 2s 1 forwards;
      }

      &:nth-child(3) {
        opacity: 0;
        transform: scale(0.6);
        animation: titleShow 1s ease-in-out 1s 1 forwards;
      }

      &:nth-child(4) {
        opacity: 0;
        transform: scale(0.6);
        animation: titleShow 1s ease-in-out 1.2s 1 forwards;
      }

      &:nth-child(5) {
        opacity: 0;
        transform: scale(0.6);
        animation: titleShow 1s ease-in-out 2.2s 1 forwards;
      }
    }
  }
}

@media (max-width: 750px) {
  .stocks {
    &__list {
      display: flex;
      flex-direction: column;
    }
  }

  .button {
    pointer-events: none;
  }

  .games__slider__button.swiper-button-prev,
  .games__slider__button.swiper-button-next {
    pointer-events: none;

    width: 50px;
    height: 50px;

    background-color: transparent;

    &::after {
      font-size: 50px;
      color: black;
    }
  }

  .swiper {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .header {
    &__navigation {
      width: 100%;
    }
  }

  .welcome {
    &__image {
      &:nth-child(2) {
        left: 42%;
      }

      &:nth-child(5) {
        left: 35%;
      }
    }

    &__text {
      font-size: 24px;
    }
  }

  .stocks {
    &__button {
      margin-top: 60px;
    }
  }

  .games {
    &__subtitle {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }

  .welcome {
    &__inner {
      padding: 150px 40px 0 40px;
    }

    &__image {
      &:nth-child(1) {
        transform: scale(0.5);
        left: 0;
      }

      &:nth-child(2) {
        left: 35%;
        transform: scale(0.5);
      }

      &:nth-child(3) {
        top: 50%;
        transform: scale(0.5);
      }

      &:nth-child(4) {
        top: 46%;
        transform: scale(0.5);
      }

      &:nth-child(5) {
        left: 25%;
        transform: scale(0.5);
      }
    }

    &__text {
      font-size: 20px;
    }
  }

  .stocks {
    &__subtitle {
      font-size: 16px;
    }
  }

  .games {
    &__subtitles {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
}

@media (max-width: 450px) {
  .swiper {
    width: 360px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 10px;
  }

  .header {
    &__inner {
      padding: 10px 30px;
    }
  }

  .welcome {
    &__image {
      &:nth-child(1) {
        left: -20%;
      }

      &:nth-child(2) {
        left: 22%;
      }

      &:nth-child(3) {
        left: 10%;
      }

      &:nth-child(4) {
        left: -4%;
      }

      &:nth-child(5) {
        left: 8%;
      }
    }
  }

  .stocks {
    &__subtitles {
      align-items: center;
      gap: 15px;
      flex-direction: column;
    }

    &__box {
      &__item {
        padding: 20px 90px 15px 15px;
      }

      &__price {
        padding: 15px 5px;
      }

      &__photo {
        width: 80px;
      }
    }
  }

  .swiper {
    width: 330px;
  }
}

@media (max-width: 385px) {
  .button {
    font-size: 17px;
  }

  .welcome {
    &__text {
      padding-top: 180px;
    }
  }
}

@media (max-width: 350px) {
  .welcome {
    &__image {
      &:nth-child(1) {
        top: 30%;
      }

      &:nth-child(2) {
        left: 22%;
      }

      &:nth-child(3) {
        left: 10%;
      }

      &:nth-child(4) {
        left: -4%;
      }

      &:nth-child(5) {
        top: 25%;
      }
    }
  }

  .swiper {
    width: 300px;
  }
}
