$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-stack-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  color: $primary-color-light;
  background-color: $primary-color-dark;
}

.container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  cursor: pointer;

  margin-top: 100px;
  padding: 10px 15px;

  font-family: $font-stack-main;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5em;
  color: $primary-color-dark;
  background-color: $primary-color-light;

  border: 1px solid $primary-color-dark;
  border-radius: 25px;
}

.title {
  text-align: center;
  font-size: 36px;
}

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 70px;

  &__inner {
    padding: 10px 60px;
    background-color: rgba($color: $primary-color-dark, $alpha: 0.7);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 120px;
    height: 70px;
  }

  &__list {
    display: flex;
    gap: 80px;
  }

  &__list-item {
    line-height: 50px;
  }

  &__menu-btn {
    cursor: pointer;
    display: none;

    width: 50px;
    height: 40px;

    color: $primary-color-light;
    position: relative;

    transition: color 0.3s ease-in-out;
  }

  &__menu-line {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";

    transform: translateX(0);

    margin: 0 auto;

    width: 40px;
    height: 3px;

    background-color: currentColor;

    transition: transform 0.3s ease-in-out;

    &:nth-child(2) {
      top: 15px;
    }

    &:nth-child(3) {
      top: 25px;
    }
  }
}

.welcome {
  &__inner {
    padding-top: 150px;
    padding-bottom: 25px;
    height: 850px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    padding-top: 100px;
    text-align: center;

    font-size: 32px;
    line-height: 1.3;
    max-width: 600px;
  }

  &__title {
    opacity: 0;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-family: $font-stack-add;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px,
      rgba(254, 1, 1, 0.298039) -3px -3px 0px;

    text-align: center;

    animation: titleShow 1.5s ease-in-out 3s 1 forwards;
  }

  &__image {
    position: absolute;

    &:nth-child(1) {
      top: 20%;
      left: 10%;
      transform: rotate(340deg);
      filter: opacity(0.7);

      animation: donut 2s ease-in-out 0s 1 forwards;
    }

    &:nth-child(2) {
      top: 25%;
      right: 10%;
      transform: rotate(350deg);

      animation: coffee 1.3s ease-in-out 0s 1 forwards;
    }
    &:nth-child(3) {
      top: 60%;
      left: 15%;
      transform: rotate(350deg);

      animation: bone-2 3s ease-in-out 0s 1 forwards;
    }
    &:nth-child(4) {
      top: 50%;
      left: 10%;
      transform: rotate(350deg);

      animation: bone-1 3s ease-in-out 0s 1 forwards;
    }
    &:nth-child(5) {
      opacity: 0;
      z-index: -1;
      top: 15%;
      right: 3%;
      transform: rotate(350deg);

      animation: grain 0.7s ease-in-out 1.5s 1 forwards;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
  }
}

@keyframes donut {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }

  100% {
    transform: translateX(0%) rotate(360deg);
  }
}

@keyframes coffee {
  0% {
    transform: translateY(-200%) rotate(0deg);
  }

  100% {
    transform: translateY(0%) rotate(350deg);
  }
}

@keyframes grain {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bone-1 {
  0% {
    transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }

  40% {
    transform: translateY(0%) translateX(-70%) rotate(400deg);
  }

  60% {
    transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }

  70% {
    transform: translateY(0%) translateX(-30%) rotate(620deg);
  }

  85% {
    transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }

  100% {
    transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}

@keyframes bone-2 {
  0% {
    transform: translateY(-200%) translateX(-100%) rotate(0deg);
  }

  40% {
    transform: translateY(0%) translateX(-70%) rotate(400deg);
  }

  60% {
    transform: translateY(-70%) translateX(-50%) rotate(560deg);
  }

  70% {
    transform: translateY(0%) translateX(-30%) rotate(620deg);
  }

  85% {
    transform: translateY(-30%) translateX(-20%) rotate(650deg);
  }

  100% {
    transform: translateY(0%) translateX(0%) rotate(720deg);
  }
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider {
  &__inner {
    padding: 50px 0;

    overflow: hidden;
    position: relative;

    width: 1290px;
    height: 300px;
  }

  &__list {
    margin-top: 70px;

    display: flex;

    transition: transform 0.5s ease-in-out;
  }

  &__item {
    width: 400px;
    height: 300px;

    border-radius: 30px;

    // filter: opacity(50%);
    // transform: scale(1);

    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  &__link {
    content: "";
    width: 400px;
    height: 300px;
  }

  // &__button {
  //   cursor: pointer;

  //   display: flex;
  //   justify-content: center;

  //   position: absolute;
  //   left: 10px;
  //   top: 50%;

  //   width: 70px;
  //   height: 70px;

  //   background-color: $primary-color-light;
  //   border-radius: 50%;

  //   &-line:nth-child(1) {
  //     content: "";
  //     position: absolute;
  //     top: 23px;

  //     width: 30px;
  //     height: 4px;

  //     background-color: black;

  //     transform: rotate(315deg);
  //   }
  //   &-line:nth-child(2) {
  //     content: "";
  //     position: absolute;
  //     bottom: 23px;

  //     width: 30px;
  //     height: 4px;

  //     background-color: black;

  //     transform: rotate(45deg);
  //   }
  // }

  &__button {
    width: 50px;
  }
}

.stocks {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
  }

  &__subtitles {
    margin-top: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__slider {
    &__inner {
      margin-top: 75px;
      padding: 0;
    }

    &__list {
      gap: 30px;
      margin-top: 0;
      justify-content: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 20px 110px 15px 15px;
      position: relative;

      background-color: rgba($color: $primary-color-light, $alpha: 1);
    }

    &__title {
      color: black;
      font-weight: 700;
      font-size: 20px;
    }

    &__subtitle {
      margin-top: 10px;
      font-size: 16px;
      color: black;
    }

    &__price {
      position: absolute;
      top: 20px;
      right: 20px;

      padding: 20px 10px;

      color: white;
      font-size: 20px;
      font-weight: bolder;

      background-color: rgb(247 99 69);
      border-radius: 50%;

      display: inline-block;
    }

    &__date {
      color: grey;
      font-size: 12px;
    }

    &__photo {
      position: absolute;
      right: 10px;
      top: 90px;
    }
  }

  &__button {
    width: 200px;
  }
}

.games {
  &__inner {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__subtitles {
    margin-top: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
}

// .right-btn {
//   transform: rotate(180deg);
//   left: calc(100% - 80px);
// }

// .active {
//   z-index: 1;
//   transform: scale(1.25);
//   filter: opacity(100%);
// }

.swiper {
  width: 1260px;
  height: 300px;
}

.games__slider__button.swiper-button-next {
  width: 60px;
  height: 60px;

  background-color: $primary-color-light;
  border-radius: 50%;

  color: $primary-color-dark;
}

.games__slider__button.swiper-button-prev {
  width: 60px;
  height: 60px;

  background-color: $primary-color-light;
  border-radius: 50%;

  color: $primary-color-dark;
}
