$primary-color-dark: #1a1919;
$primary-color-light: #dbdbdb;
$font-stack-main: "Open Sans", sans-serif;
$font-stack-add: montserrat, sans-serif;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-stack-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: $primary-color-light;
  background-color: $primary-color-dark;
}

.scroll-lock {
  overflow: hidden;
}

.button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1188px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 70px;

  &__inner {
    padding: 0 60px;
    background-color: rgba($color: $primary-color-dark, $alpha: 0.7);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 75px;
    height: 75px;
  }

  &__list {
    display: flex;
    gap: 80px;
  }

  &__list-item {
    line-height: 50px;

    transition: color 0.3s ease-in-out;
    &:hover {
      color: rgb(17, 103, 120);
    }
  }
}

.welcome {
  &__inner {
    padding-top: 150px;
    padding-bottom: 25px;
    height: 850px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    opacity: 0;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-family: $font-stack-add;
    text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px,
      rgba(254, 1, 1, 0.298039) -3px -3px 0px;

    text-align: center;

    animation: titleShow 1.5s ease-in-out 2s 1 forwards;
  }

  &__gallery {
    padding-top: 65px;
    margin-bottom: 80px;

    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__anchor {
    cursor: pointer;

    margin: 0 auto;
    padding: 10px 15px;

    background-color: transparent;
    border: 1px solid $primary-color-light;
    border-radius: 50%;

    font-size: 30px;
    color: $primary-color-light;
  }
}

.gallery__image {
  width: 301px;
  height: 432px;
  object-fit: cover;
  transform: translateY(110%);

  animation: galleryShow 1.5s ease-in-out 1s 1 forwards;

  &__top {
    transform: translateY(-35px);
    transition: transform 0.2s ease-in-out;
  }
}

.gallery__hide-box {
  overflow: hidden;
}

@keyframes galleryShow {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-us {
  margin-top: 50px;
  padding-bottom: 55px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    margin: 80px auto;
    padding: 5px 10px;

    width: 980px;
    height: 440px;

    color: $primary-color-light;
    font-size: 30px;
    font-family: $font-stack-add;
    line-height: 42px;

    background-color: rgba($color: #ffffff, $alpha: 0.3);

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 1);
      border-radius: 30px;
      color: $primary-color-dark;
    }
  }

  &__button {
    padding: 10px 20px;

    font-family: $font-stack-add;
    font-size: 25px;
    line-height: 35px;
    color: $primary-color-light;

    border: 1px solid black;
    border-radius: 40px;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $primary-color-light;
      border: 1px solid $primary-color-light;
      color: $primary-color-dark;
    }
  }
}

.works {
  &__inner {
    margin-top: 110px;
  }

  &__title {
    font-size: 42px;
    line-height: 55px;
    font-weight: 400;

    text-align: center;
  }

  &__subtitles {
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__slogan {
    font-weight: 700;
  }

  &__slogan-description {
    max-width: 320px;
  }

  &__gif-slider {
    margin-top: 70px;
  }
}

// Slider

.slider {
  &__inner {
    margin-top: 70px;
    margin: 70px auto 80px auto;

    position: relative;

    overflow: hidden;
    width: 98vw;
    padding: 0 10px;
  }

  &__list {
    display: flex;
    gap: 12px;

    transform: translateX(0);

    transition: transform 0.3s linear;
    will-change: transform;
  }

  &__images {
    width: 250px;
    height: 335px;

    object-fit: cover;

    user-select: none;

    &:hover {
      filter: opacity(50%);
    }
  }

  &__item {
    height: 335px;

    background-color: black;
    position: relative;

    &:hover::after {
      content: "\2661";
      color: white;

      font-size: 30px;

      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 10px);
      opacity: 1;
    }

    &.like:hover::after {
      content: "\2764";
      color: red;

      font-size: 20px;

      top: calc(50% - 12px);
      left: calc(50% - 10px);
    }
  }

  &__button {
    cursor: pointer;

    position: absolute;
    left: 10px;
    top: calc(50% - 35px);

    width: 30px;
    height: 70px;

    &-line:nth-child(1) {
      content: "";
      position: absolute;
      top: 23px;

      width: 30px;
      height: 4px;

      background-color: black;

      transform: rotate(315deg);
    }

    &-line:nth-child(2) {
      content: "";
      position: absolute;
      bottom: 23px;

      width: 30px;
      height: 4px;

      background-color: black;

      transform: rotate(45deg);
    }
  }
}

.right-btn {
  transform: rotate(180deg);
  left: calc(100% - 30px);
  top: calc(50% - 35px);
}

.left-btn {
  z-index: 1;
}

.full-screen {
  z-index: 1;
  position: fixed;
  top: 0%;
  left: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  width: 100vw;
  height: 100vh;

  background-color: $primary-color-dark;

  transition: opacity 1s ease-in-out;
  will-change: opacity;

  &__image {
    opacity: 1;
    max-width: 512px;
    max-height: 512px;

    transition: opacity 0.3s ease-in-out;
    will-change: opacity;

    &__hide {
      opacity: 0;
      max-width: 0px;
      max-height: 0px;
    }
  }

  &__hide {
    top: 50%;
    left: 50%;

    opacity: 0;
    width: 0;
    height: 0;
  }

  &__close-button {
    position: absolute;
    right: 10%;
    top: 10%;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    opacity: 1;

    transition: opacity 0.3s ease-in-out, width 0.1s ease-in-out 0.3s,
      height 0.1s ease-in-out 0.3s;
    will-change: opacity;

    &__hide {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__button-line:nth-child(1) {
    content: "";

    width: 40px;
    height: 2px;
    transform: rotate(45deg);

    background-color: $primary-color-light;

    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  &__button-line:nth-child(2) {
    content: "";

    width: 40px;
    height: 2px;

    background-color: $primary-color-light;
    position: absolute;

    transform: rotate(315deg);
    transition: all 0.3s ease-in-out;
  }
}
