@mixin media-icon($padding, $display) {
  padding: $padding;

  display: $display;
}

%media-default-parameters {
  background-color: rgba(252, 216, 203, 1);
  border-radius: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  // display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.62;
  color: #826f8c;
}

.container {
  max-width: 1188px;
  padding: 0 10px;
  margin: 0 auto;
}

.subtext {
  color: #446381;
  font-size: 23px;
  line-height: 1.04348;
  margin-bottom: 15px;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
  min-width: 180px;

  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
  padding: 13px 14px 14px 19px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;

  transition: all 0.3s ease;
  &:hover {
    background: linear-gradient(137deg, #4499d9 100%, #7367be 0%);
    box-shadow: 2px 2px 7px #826f8c;
  }
}

.title {
  margin-bottom: 26px;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.103;
  color: #eb8382;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  &__logo {
    margin-top: 10px;
  }

  &__nav {
    display: flex;
    line-height: 1.33;
  }

  &__list {
    display: flex;
    margin: auto 55px 14px 0;
  }

  &__item {
    &_1 {
      margin-right: 52px;
    }

    &_2 {
      margin-right: 44px;
    }

    &_3 {
      margin-right: 42px;
    }
  }
}

.item__link {
  &::after {
    display: block;
    content: "";

    height: 2px;
    width: 0px;
    background-image: linear-gradient(to right, #4499d9, #4499d9, #7367be);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.logo__link {
  display: flex;
}

.main_page {
  background-image: url(../images/hero-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-page {
  &__title {
    max-width: 471px;
  }

  &__subtext {
    margin-top: 139px;
  }

  &__text {
    max-width: 518px;
    margin-bottom: 36px;
  }

  &__button {
    min-width: 208px;
    margin-bottom: 180px;
  }

  &__plus-img {
    position: absolute;
    bottom: 70px;
    left: 250px;

    animation: plus-roll 9s linear 0s infinite;
  }

  &__character {
    position: relative;

    width: 735.489px;
    height: 617px;

    top: 54px;
    left: 0;
  }
}

.character {
  &__hole {
    position: absolute;

    top: 22%;
    left: 5%;
  }

  &__character {
    position: absolute;
    z-index: 1;

    top: 3.5%;

    animation: boy_pops-up 1s linear 0s 1;
  }

  &__joy {
    position: absolute;
    opacity: 0;

    top: 16%;
    left: 15%;

    animation: joy_pops-up 1s linear 1.5s 1 forwards;
  }

  &__box-1 {
    position: absolute;

    top: 0;
    right: 70%;
    z-index: 2;

    transition-duration: 1s;
    &:hover {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }

  &__box-2 {
    position: absolute;
    z-index: 2;

    top: 83%;
    left: 69%;

    transition-duration: 1s;

    &:hover {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
}

@keyframes boy_pops-up {
  0% {
    transform: translateY(102px);
    opacity: 0.28;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes joy_pops-up {
  0% {
    transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes plus-roll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes box_size-increase {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
}

.vr-glasses {
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;

    padding-top: 165px;
  }

  &__content {
    padding-bottom: 187px;

    background-image: url(../images/vr.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__images {
    position: relative;
  }

  &__text {
    max-width: 518px;
    margin-bottom: 29px;
  }

  &__button {
    min-width: 208px;
    z-index: 10;
  }
}

.vr-images {
  &__men {
    position: absolute;
    top: -60px;
  }

  &__screen {
    position: absolute;
    right: 35px;
    top: -78px;

    animation: screen-rotate 3s linear 0s infinite;
  }

  &__vr {
    position: absolute;
    bottom: 0px;
    right: 20%;
  }

  &__kerfin {
    position: absolute;
    right: 0px;
    bottom: 10%;
  }
}

@keyframes screen-rotate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.about {
  &__consoles {
    background-image: url(../images/consoles-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.consoles {
  &__inner {
    padding-top: 114px;
    padding-bottom: 156px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 95px;
  }

  &__title {
    margin-top: 30px;
    max-width: 500px;
  }

  &__button {
    margin-top: 29px;
    min-width: 207px;
  }

  &__images {
    position: relative;

    bottom: 12%;
    &_static {
      position: relative;
    }
  }
}

.static {
  &__shadow {
    position: absolute;
  }

  &__clouds {
    position: absolute;
    transform: translateY(20%);
  }

  &__leaf-left {
    position: absolute;
    left: 0;
  }

  &__leaf-right {
    position: absolute;
    right: 0;
  }
}

.animated {
  &__gamepad-with-men {
    position: absolute;
    z-index: 1;

    top: 45%;
    left: 0;

    animation: move_gamepad 3s linear 0s infinite;
  }

  &__men-on-gamepad {
    position: absolute;
    left: 5%;
    bottom: 79%;
  }

  &__men-aside-gamepad {
    position: absolute;

    left: 77%;
    bottom: 0%;
  }

  &__cog-big {
    position: absolute;
    z-index: 1;

    left: calc(51% + 70px);

    animation: cogRoll 6s linear 0s infinite;
  }

  &__cog-small {
    position: absolute;
    z-index: 1;

    top: 20%;
    left: 51%;

    animation: cogRoll 6s linear 0s infinite;
  }
}

@keyframes cogRoll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes move_gamepad {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.pricing {
  background-color: #fee9dc;
  border-bottom: 1.5px solid #826f8c;

  &__inner {
    padding-top: 48px;

    padding-bottom: 100px;
  }

  &__subtext {
    text-align: center;
  }

  &__title {
    text-align: center;

    margin-bottom: 85px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }

  &__item-1,
  &__item-3 {
    background: rgba(251, 218, 207, 1);
    color: #446381;
  }

  &__item-2 {
    position: relative;

    background: no-repeat url(../images/union.png),
      linear-gradient(180deg, #446381 0, #826f8c 100%);
    background-position: bottom left;

    transform: translateY(1.1);
    color: rgba(255, 255, 255, 1);
  }

  &__item {
    padding: 36px 46px 47px 47px;
    border-radius: 20px;

    box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
    display: flex;
    flex-direction: column;

    transition: all 0.2s linear;
    &:hover {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    &-badge {
      position: absolute;
      top: 23px;
      right: 23px;
    }

    &-title {
      color: #446381;
      line-height: 1.04348;
      font-size: 32px;
      font-weight: 700;
    }

    &-title-2 {
      color: rgba(255, 255, 255, 1);
    }

    &-price {
      margin-top: 20px;
      margin-bottom: 20px;

      color: #eb8382;
    }

    &-list-item {
      padding-left: 25px;
      margin-bottom: 20px;

      background-image: url(../images/check.svg);
      background-repeat: no-repeat;
      background-position: left bottom 60%;
    }

    &-list-item-2 {
      padding-left: 25px;
      margin-bottom: 20px;

      background-image: url(../images/chek_white.svg);
      background-repeat: no-repeat;
      background-position: left bottom 60%;
    }

    &-item-button {
      max-width: 267px;
    }

    &-list-item__last {
      margin-bottom: 46px;
    }
  }

  &__item-price__big {
    font-size: 50px;
    font-weight: 700;
  }

  &__item-price__mid {
    font-size: 30px;
  }
}

.footer {
  background-color: #fee9dc;
  &__inner {
    padding: 25px 0 19px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 238.78px;
    max-height: 65px;
  }

  &__copyright {
    font-size: 16px;
  }

  &__media {
    margin-left: 70px;

    display: flex;
    gap: 18px;
  }
}

.media {
  &__facebook {
    @extend %media-default-parameters;
  }

  &__twitter {
    @extend %media-default-parameters;
  }

  &__instagramm {
    @extend %media-default-parameters;
  }
}

.facebook {
  &__link {
    // padding || display
    @include media-icon(10px 14px 10px 14px, flex);

    &__white {
      @include media-icon(10px 14px 10px 14px, none);
    }
  }
}
.twitter {
  &__link {
    @include media-icon(11px 11px 11px 9px, flex);

    &__white {
      @include media-icon(11px 11px 11px 9px, none);
    }
  }
}
.instagramm {
  &__link {
    @include media-icon(10px, flex);

    &__white {
      @include media-icon(10px, none);
    }
  }
}

.media {
  &__facebook {
    transition: background-color 0.3s linear;

    &:hover {
      background-color: rgba(68, 99, 129, 1);

      .facebook__link {
        display: none;

        &__white {
          display: flex;
        }
      }
    }
  }

  &__twitter {
    transition: background-color 0.3s linear;

    &:hover {
      background-color: rgba(68, 99, 129, 1);

      .twitter__link {
        display: none;

        &__white {
          display: flex;
        }
      }
    }
  }

  &__instagramm {
    transition: background-color 0.3s linear;

    &:hover {
      background-color: rgba(68, 99, 129, 1);

      .instagramm__link {
        display: none;

        &__white {
          display: flex;
        }
      }
    }
  }
}
