.media__instagramm, .media__twitter, .media__facebook {
  background-color: rgb(252, 216, 203);
  border-radius: 20px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.62;
  color: #826f8c;
}

.container {
  max-width: 1188px;
  padding: 0 10px;
  margin: 0 auto;
}

.subtext {
  color: #446381;
  font-size: 23px;
  line-height: 1.04348;
  margin-bottom: 15px;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  border: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 180px;
  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
  padding: 13px 14px 14px 19px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  background: linear-gradient(137deg, #4499d9 100%, #7367be 0%);
  -webkit-box-shadow: 2px 2px 7px #826f8c;
          box-shadow: 2px 2px 7px #826f8c;
}

.title {
  margin-bottom: 26px;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.103;
  color: #eb8382;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header__logo {
  margin-top: 10px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.33;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 55px 14px 0;
}
.header__item_1 {
  margin-right: 52px;
}
.header__item_2 {
  margin-right: 44px;
}
.header__item_3 {
  margin-right: 42px;
}

.item__link::after {
  display: block;
  content: "";
  height: 2px;
  width: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4499d9), color-stop(#4499d9), to(#7367be));
  background-image: linear-gradient(to right, #4499d9, #4499d9, #7367be);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item__link:hover::after {
  width: 100%;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_page {
  background-image: url(../images/hero-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main-page__title {
  max-width: 471px;
}
.main-page__subtext {
  margin-top: 139px;
}
.main-page__text {
  max-width: 518px;
  margin-bottom: 36px;
}
.main-page__button {
  min-width: 208px;
  margin-bottom: 180px;
}
.main-page__plus-img {
  position: absolute;
  bottom: 70px;
  left: 250px;
  -webkit-animation: plus-roll 9s linear 0s infinite;
          animation: plus-roll 9s linear 0s infinite;
}
.main-page__character {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  position: relative;
  width: 735.489px;
  height: 617px;
  top: 54px;
  left: 0;
}

.character__hole {
  position: absolute;
  top: 22%;
  left: 5%;
}
.character__character {
  position: absolute;
  z-index: 1;
  top: 3.5%;
  -webkit-animation: boy_pops-up 1s linear 0s 1;
          animation: boy_pops-up 1s linear 0s 1;
}
.character__joy {
  position: absolute;
  opacity: 0;
  top: 16%;
  left: 15%;
  -webkit-animation: joy_pops-up 1s linear 1.5s 1 forwards;
          animation: joy_pops-up 1s linear 1.5s 1 forwards;
}
.character__box-1 {
  position: absolute;
  top: 0;
  right: 70%;
  z-index: 2;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.character__box-1:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}
.character__box-2 {
  position: absolute;
  z-index: 2;
  top: 83%;
  left: 69%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.character__box-2:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

@-webkit-keyframes boy_pops-up {
  0% {
    -webkit-transform: translateY(102px);
            transform: translateY(102px);
    opacity: 0.28;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes boy_pops-up {
  0% {
    -webkit-transform: translateY(102px);
            transform: translateY(102px);
    opacity: 0.28;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes joy_pops-up {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
            transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes joy_pops-up {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
            transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes plus-roll {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes plus-roll {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes box_size-increase {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes box_size-increase {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }
}
.vr-glasses {
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.vr-glasses__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
  padding-top: 165px;
}
.vr-glasses__content {
  padding-bottom: 187px;
  background-image: url(../images/vr.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.vr-glasses__images {
  position: relative;
}
.vr-glasses__text {
  max-width: 518px;
  margin-bottom: 29px;
}
.vr-glasses__button {
  min-width: 208px;
  z-index: 10;
}

.vr-images__men {
  position: absolute;
  top: -60px;
}
.vr-images__screen {
  position: absolute;
  right: 35px;
  top: -78px;
  -webkit-animation: screen-rotate 3s linear 0s infinite;
          animation: screen-rotate 3s linear 0s infinite;
}
.vr-images__vr {
  position: absolute;
  bottom: 0px;
  right: 20%;
}
.vr-images__kerfin {
  position: absolute;
  right: 0px;
  bottom: 10%;
}

@-webkit-keyframes screen-rotate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes screen-rotate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.about__consoles {
  background-image: url(../images/consoles-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.consoles__inner {
  padding-top: 114px;
  padding-bottom: 156px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 95px;
     -moz-column-gap: 95px;
          column-gap: 95px;
}
.consoles__title {
  margin-top: 30px;
  max-width: 500px;
}
.consoles__button {
  margin-top: 29px;
  min-width: 207px;
}
.consoles__images {
  position: relative;
  bottom: 12%;
}
.consoles__images_static {
  position: relative;
}
.consoles__images-tablet {
  display: none;
}

.static__shadow {
  position: absolute;
}
.static__clouds {
  position: absolute;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
}
.static__leaf-left {
  position: absolute;
  left: 0;
}
.static__leaf-right {
  position: absolute;
  right: 0;
}

.animated__gamepad-with-men {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 0;
  -webkit-animation: move_gamepad 3s linear 0s infinite;
          animation: move_gamepad 3s linear 0s infinite;
}
.animated__men-on-gamepad {
  position: absolute;
  left: 5%;
  bottom: 79%;
}
.animated__men-aside-gamepad {
  position: absolute;
  left: 77%;
  bottom: 0%;
}
.animated__cog-big {
  position: absolute;
  z-index: 1;
  left: calc(51% + 70px);
  -webkit-animation: cogRoll 6s linear 0s infinite;
          animation: cogRoll 6s linear 0s infinite;
}
.animated__cog-small {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 51%;
  -webkit-animation: cogRoll 6s linear 0s infinite;
          animation: cogRoll 6s linear 0s infinite;
}

@-webkit-keyframes cogRoll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes cogRoll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes move_gamepad {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes move_gamepad {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.pricing {
  background-color: #fee9dc;
  border-bottom: 1.5px solid #826f8c;
}
.pricing__inner {
  padding-top: 48px;
  padding-bottom: 100px;
}
.pricing__subtext {
  text-align: center;
}
.pricing__title {
  text-align: center;
  margin-bottom: 85px;
}
.pricing__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.pricing__item-1, .pricing__item-3 {
  background: rgb(251, 218, 207);
  color: #446381;
}
.pricing__item-2 {
  position: relative;
  background: no-repeat url(../images/union.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #446381), to(#826f8c));
  background: no-repeat url(../images/union.png), linear-gradient(180deg, #446381 0, #826f8c 100%);
  background-position: bottom left;
  -webkit-transform: translateY(1.1);
      -ms-transform: translateY(1.1);
          transform: translateY(1.1);
  color: rgb(255, 255, 255);
}
.pricing__item {
  padding: 36px 46px 47px 47px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
          box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pricing__item:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}
.pricing__item-badge {
  position: absolute;
  top: 23px;
  right: 23px;
}
.pricing__item-title {
  color: #446381;
  line-height: 1.04348;
  font-size: 32px;
  font-weight: 700;
}
.pricing__item-title-2 {
  color: rgb(255, 255, 255);
}
.pricing__item-price {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #eb8382;
}
.pricing__item-list-item {
  padding-left: 25px;
  margin-bottom: 20px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: left bottom 60%;
}
.pricing__item-list-item-2 {
  padding-left: 25px;
  margin-bottom: 20px;
  background-image: url(../images/chek_white.svg);
  background-repeat: no-repeat;
  background-position: left bottom 60%;
}
.pricing__item-item-button {
  max-width: 267px;
}
.pricing__item-list-item__last {
  margin-bottom: 46px;
}
.pricing__item-price__big {
  font-size: 50px;
  font-weight: 700;
}
.pricing__item-price__mid {
  font-size: 30px;
}

.footer {
  background-color: #fee9dc;
}
.footer__inner {
  padding: 25px 0 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  max-width: 238.78px;
  max-height: 65px;
}
.footer__copyright {
  font-size: 16px;
}
.footer__media {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.facebook__link {
  padding: 10px 14px 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.facebook__link__white {
  padding: 10px 14px 10px 14px;
  display: none;
}

.twitter__link {
  padding: 11px 11px 11px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.twitter__link__white {
  padding: 11px 11px 11px 9px;
  display: none;
}

.instagramm__link {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.instagramm__link__white {
  padding: 10px;
  display: none;
}

.media__facebook {
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.media__facebook:hover {
  background-color: rgb(68, 99, 129);
}
.media__facebook:hover .facebook__link {
  display: none;
}
.media__facebook:hover .facebook__link__white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.media__twitter {
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.media__twitter:hover {
  background-color: rgb(68, 99, 129);
}
.media__twitter:hover .twitter__link {
  display: none;
}
.media__twitter:hover .twitter__link__white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.media__instagramm {
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.media__instagramm:hover {
  background-color: rgb(68, 99, 129);
}
.media__instagramm:hover .instagramm__link {
  display: none;
}
.media__instagramm:hover .instagramm__link__white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page__character-tablet {
  display: none;
}

@media (max-width: 1250px) {
  .main-page__character {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
  }
  .vr-images__men {
    top: 30px;
  }
  .consoles__images {
    -webkit-transform: scale(0.94);
        -ms-transform: scale(0.94);
            transform: scale(0.94);
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 900px;
  }
  .title {
    font-size: 55px;
  }
  .first-section {
    padding-top: 139px;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .main-page__character {
    display: none;
  }
  .main-page__character-tablet {
    display: block;
  }
  .main-page__subtext {
    margin-top: 0px;
  }
  .vr-images__screen {
    height: 40%;
    top: 45px;
  }
  .vr-images__men {
    top: 100px;
  }
  .consoles__images {
    display: none;
  }
  .consoles__images-tablet {
    display: block;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }
  .title {
    font-size: 60px;
  }
  .first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page__character-tablet {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main-page__textes {
    text-align: center;
  }
  .main-page__plus-img {
    right: 10%;
    left: auto;
  }
  .vr-glasses__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vr-glasses__content {
    padding-bottom: 550px;
    margin: auto;
    text-align: center;
    background-size: 30%;
    background-position: center right 10%;
    background-position-y: 37%;
  }
  .vr-glasses__images {
    top: 150px;
  }
  .vr-images__screen {
    height: auto;
    top: 265px;
    left: 45%;
    width: 30%;
  }
  .vr-images__men {
    top: 230px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    left: 15%;
  }
  .consoles__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .consoles__title {
    max-width: none;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 525px;
  }
  .title {
    font-size: 50px;
  }
  .main-page__plus-img {
    height: 80px;
    left: 5%;
    top: 45%;
  }
  .main-page__text {
    font-size: 16px;
  }
  .vr-glasses__text {
    max-width: none;
    font-size: 16px;
  }
  .vr-glasses__content {
    padding-bottom: 450px;
    background-position: center right 3%;
    background-position-y: 35%;
  }
  .vr-glasses__images {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    top: 170px;
  }
  .vr-images__men {
    left: 5%;
  }
  .vr-images__screen {
    top: 280px;
  }
  .vr-images__kerfin {
    -webkit-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
            transform: scaleY(0.7);
    bottom: 30%;
  }
  .consoles__images-tablet {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 42px;
  }
  .main-page__plus-img {
    top: 40%;
    height: 60px;
  }
  .consoles__text {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .button {
    min-width: 160px;
    font-size: 16px;
  }
  .title {
    font-size: 42px;
  }
  .main-page__plus-img {
    top: 35%;
    height: 40px;
  }
  .vr-glasses__content {
    padding-bottom: 350px;
  }
  .vr-glasses__images {
    top: 200px;
  }
  .consoles__inner {
    padding-bottom: 50px;
  }
}